Repository Zikkyrat4/cyber-net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-validate, ansible-validate, build-vulnerable-app, build-attack-tools

terraform-validate:
  stage: validate
  image: hashicorp/terraform:$TF_VERSION
  before_script:
  - cd terraform/proxmox
  script:
  - terraform fmt -check
  - terraform init -backend=false
  - terraform validate

ansible-validate:
  stage: validate
  image: quay.io/ansible/ansible-runner:latest
  script:
  - cd ansible
  - ansible-playbook --syntax-check playbooks/*.yml
  - ansible-lint playbooks/

build-vulnerable-app:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd docker/images/vulnerable-web
  ...

build-attack-tools:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd docker/images/attack-tools
  ...

Update README.md
  docs/README.md
Due: none

fix resources for vm
  terraform/proxmox/main.tf
Due: terraform-validate

fix
  ansible/inventories/production/hosts.yml
  docs/SETUP.md
  terraform/proxmox/main.tf
Due: terraform-validate, ansible-validate

fix vlan
  docs/SETUP.md
  infrastructure-outputs.json
  terraform/proxmox/main.tf
Due: terraform-validate

add socket for terraform VM and fix docs
  ansible/inventories/production/hosts.yml
  docs/SETUP.md
  terraform/proxmox/main.tf
Due: terraform-validate, ansible-validate

fix ansible
  ansible/ansible.cfg
  ansible/inventories/production/group_vars
  ansible/inventories/production/host_vars
  ansible/inventories/production/hosts.yml
  project_contents.txt
Due: ansible-validate

Path conditions:
  terraform-validate: any of: terraform/**/*
  ansible-validate: any of: ansible/**/*
  build-vulnerable-app: any of: docker/images/vulnerable-web/**/*
  build-attack-tools: any of: docker/images/attack-tools/**/*
